#container {
  display: grid;
  /* 1列目から順番に180px、1fr、160pxの幅 */
  grid-template-columns: 180px 1fr 160px;
  /* 1列目から順番に60px  1fr 90pxの鷹さ*/
  grid-template-rows: 60px 1fr 90px;
}

header {
  background-color: blue;

  /* 列の1本目から4本目のグリッドラインまで */
  grid-column-start: 1;
  grid-column-end: 3;

  /* 行の1本目から2本目のグリッドラインまで */
  grid-row-start: 1;
  grid-row-end: 2;
}

#item1 {
  background-color: gray;

  /* 列の1本目から2本目のグリッドラインまで */
  grid-column-start: 1;
  grid-column-end: 2;

  /* 行の2本目から4本目のグリッドラインまで */
  grid-row-start: 2;
  grid-row-end: 5;
}

#item2 {
  background-color: gray;

  /* 列の1本目から2本目のグリッドラインまで */
  grid-column-start: 2;
  grid-column-end: 3;

  /* 行の2本目から4本目のグリッドラインまで */
  grid-row-start: 2;
  grid-row-end: 3;
}

#item3 {
  background-color: gray;

  /* 列の1本目から2本目のグリッドラインまで */
  grid-column-start: 2;
  grid-column-end: 3;

  /* 行の2本目から4本目のグリッドラインまで */
  grid-row-start: 3;
  grid-row-end: 4;
}

#item4 {
  background-color: gray;

  /* 列の1本目から2本目のグリッドラインまで */
  grid-column-start: 2;
  grid-column-end: 3;

  /* 行の2本目から4本目のグリッドラインまで */
  grid-row-start: 4;
  grid-row-end: 5;
}

footer {
  background-color: green;

  /* 列の1本目から4本目のグリッドラインまで */
  grid-column-start: 1;
  grid-column-end: 3;

  /* 行の1本目から2本目のグリッドラインまで */
  grid-row-start: 5;
  grid-row-end: 6;
}
